 html,
      body {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
      }

      #line {
        width: 200px;
        height: 2px;
        background-color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: 50% 50%;
      }/*  your css code here. If applicable */
